<p class="page_name">core works!</p>
<div appColortag="blue"> Custom Tag Color By Directive  </div>
<div appColortag="yellow">This div has a yellow background!</div>
<div appColortag="blue">This div has a blue background!</div>


<app-core-child1>
    <h1 #projectedContent> Hey Buddy </h1>
    <p  #messagePassed > I know you feeling well, so can we go for a cricket match.   </p>
    <!-- <p  #messagePassed >Pinkman</p> -->
     <p  #messageItems >  message 1 </p>
     <p  #messageItems >  message 2 </p>
     <p  #messageItems >  message 3 </p>

</app-core-child1>

<!-- @for(item of personObject | keyvalue ; track item; ){
    <p> {{  item.key }} : {{ item.value }}  </p>
} 
<button  (click)="commonButton()" > Click Me !  </button>

<p  #changeColorOfPtag>  Hey Change My COLOR  </p>
<ng-template  #showMeDev>
  <p> Heellow i am #showMeDev </p>    
</ng-template>
<ng-container  #mycontainer> </ng-container>
-->

