<p>home works!</p>
<div>
    <span> {{ studentName }} </span>
    <span> {{ studentName | lastwordincapital }} </span>
    <span> {{ studentName | lastwordincapital : 'reverse' : 'ok' }} </span>
</div>
<!--    <span> {{ numArray  | reverse  }} </span> 
        <button (click)="updateNumArray()"> UpdateNumArray  </button>
-->

<span> {{ myname  | reverse  }} </span>
<button (click)="updateString()"> updateString  </button>
<button (click)="increment()">increment</button>
<div >
    <app-goodcard></app-goodcard>
</div>