<p>home works!</p>
<div>
    <span> {{ studentName }} </span>
    <span> {{ studentName | lastwordincapital }} </span>
    <span> {{ studentName | lastwordincapital : 'reverse' : 'ok' }} </span>
</div>
<!--    <span> {{ numArray  | reverse  }} </span> 
        <button (click)="updateNumArray()"> UpdateNumArray  </button>
-->

<span> {{ myname  | reverse  }} </span>
<button (click)="updateString()"> updateString  </button>
<button (click)="increment()">increment</button>
<div >
    <app-goodcard></app-goodcard>
</div>

<div [ngPlural]="count" >
     <ng-template ngPluralCase="0">Hey 0 </ng-template>
     <ng-template ngPluralCase="1">Mr 1 </ng-template>
     <ng-template ngPluralCase="2">Mr 2 </ng-template>
     <ng-template ngPluralCase="3">Mr 3 </ng-template>
     <ng-template  ngPluralCase="OTHER" >Other  </ng-template>
</div>
<button  (click)="ngPluralIncrease()" >ngPlural</button>

<div *ngIf="isLoggedIn; else loggedOutBlock; then loggedInBlock"></div>

<ng-template #loggedInBlock>
  <p>Welcome, user !</p>
</ng-template>

<ng-template #loggedOutBlock>
  <p>Please log in.</p>
</ng-template>

@if(isLoggedIn){
    <p>Wel </p>
}@else {
    <h2> Come </h2>
}